.product--list {
    padding: 120px 0 0 0;
}

.product--list .card {
    width: 481px;
    height: 500px;
    border: 0px solid black;
}

.product--list .__brand {
    padding: 70px 150px 150px 70px;
    text-align: left;
}

.product--list .__brand .paragrap--brand p {
    text-align: left;
    line-height: 35px;
    font-size: 16px;
}

.product--list .__brand .price--brand .font-bold {
    font-weight: bold;
    font-size: 24px;
    margin: 30px 0;
}

.product--list .__brand .action--brand .action--brand__buy {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 30px;
    color: #ffffff;
    background: #e7ab3c;
    text-transform: uppercase;
}
.product--list .__brand .action--brand .action--brand__buy:hover {
    color: grey;
}
.product--list .__brand .action--brand .action--brand__add--cart:hover {
    color: grey;
}
.product--list .__brand .action--brand .action--brand__add--cart {
    margin: 0 0 0 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 30px;
    color: #ffffff;
    background: #e7ab3c;
    text-transform: uppercase;
}

.product--list .button--loadmore {
    padding: 20px 20px;   
}

.product--list .button--loadmore button {
    width: 230px;
    /* height: 23px; */
}

@media screen and (min-width: 40px) {
    .product--list .card {
        width: 100%;
        height: 543px;
    }

    .product--list .__brand .paragrap--brand {
        width: 100%;
    }

    .product--list .__brand {
        padding: 70px 11px 150px 29px;
        text-align: left;
    }
    
    .product--list .__brand .paragrap--brand p {
        text-align: justify;
        font-size: 16px;
    }

    .product--list .card img {
        margin-left: 20px;
        margin-top: 20px;
    }

    .product--list .card .img--brand {
        width: 90%;
        height: 90%;
    }
    
}