.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bg-grey {
    background-color: #A0A0A0;
}

.navbar--content {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.btn--login--width{
    width: 211%;
    margin-left: 20px;
}

.text--brand {
    font-weight: bold;
    cursor: pointer;
}
.product {
    background-color: #C4C4C4;
;
}
.product .product__banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10.5rem 2.5rem;
}

.product .product__banner .text--product {
    font-weight: bold;
    width: 100%;
}

.product .product__banner .btn--product {
    width: 221px;
    margin-top: 1rem;
    background-color: #E5E5E5;
}

.product .product__banner .paragrap--product {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: end;
}